<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Assets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Accounts</title>
  </head>

  <body>
    <div id="app">
      <header>
        <div class="Navbar">
          <div class="client">
            <img class="logo" src="../Assets/img/MindBank.png" alt="logo" />
            <h2>Welcome {{clients.firstName}} {{clients.lastName}}</h2>
          </div>

          <div class="spans_container">
            <a href="cards.html"><i class="fa-solid fa-credit-card"></i></a>

            <a href="#"><i class="fa-solid fa-bell"></i></a>

            <a href="#"
              ><i @click="logOut" class="fa-solid fa-right-from-bracket"></i
            ></a>
          </div>

          <!-- */HAMBURGUESA*/ -->

          <div id="hamburger" class="hamb" v-on:click="h">
            <div class="htop"></div>
            <div class="hmid"></div>
            <div class="hbot"></div>
          </div>
        </div>
      </header>

      <div id="navModal" :class="[isActive ? 'modalOpen' : 'modalClose']">
        <button
          type="button"
          class="botonNormal"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Transactions
        </button>
        <div class="opciones" v-if="accounts.length < 3">
          <i class="fa-solid fa-plus"></i>
          <a @click="createAccount" href="#accounts">Add account</a>
        </div>

        <div class="opciones" v-on:click="h">
          <i class="fa-solid fa-sack-dollar"></i>
          <a href="#loans">Loans</a>
        </div>
        <div class="opciones">
          <i class="fa-solid fa-money-check-dollar"></i>
          <a href="cards.html">Cards</a>
        </div>
        <a href="#" class="logOut" @click="logOut"
          ><i class="fa-solid fa-right-from-bracket"></i
          ><span class="logOutMobile">Log out</span></a
        >
      </div>

      <main class="main_accounts">
        <section id="banner">
          <div class="welcome">
            <div class="welcomeMindBank">
              <h1>WELCOME TO MINDBANK</h1>
              <p>We came to make your goals posible</p>
            </div>
            <div class="questions">
              <h2>Why choose us?</h2>
              <ul>
                <li>
                  Do you need a credit card to make that special gift possible?
                </li>
                <li>Do you want to get a brand new house?</li>
                <li>
                  With us your family is safe, we have the best insurance
                  policies
                </li>
                <li>
                  Do you need a credit card to make that special gift possible?
                </li>
              </ul>
            </div>
          </div>
          <img
            src="../Assets/img/pexels-croberin-photography-1422408.jpg"
            alt="banner"
            class="banner_img"
          />
          <div class="opacity"></div>
          <a class="down_arrow" href="#accounts"
            ><i class="fa-solid fa-chevron-down"></i
          ></a>
        </section>

        <!-- CONTENIDO SECTION ACCOUNTS -->
        <!-- <div class="welcome_accounts">
          <h2>Welcome to your accounts</h2>
        </div>
        <div class="account_container">
          <div class="tarjetas" v-for="account of accounts">
            <div class="VIN_container">
              <h2>Accounts N°: <span>{{account.number}}</span></h2>
              <h3>Date: {{parseDate(account.creationDate)}}</h3>
            </div>
            <p class="dinero">Dinero disponible: ${{account.balance}}</p>
            <div class="boton">
              <a :href='"account.html?id=" + account.id'>View transactions</a>
            </div>
          </div>
        </div> -->

        <section id="accounts">
          <div class="flex_accounts_container">
            <div class="accounts_nav">
              <h2>Your accounts</h2>
              <div class="hamb_accounts">
                <div id="hamburger" class="hamb" v-on:click="h">
                  <div class="htopAcc"></div>
                  <div class="hmidAcc"></div>
                  <div class="hbotAcc"></div>
                </div>
              </div>
              <div class="links_container_accounts">
                <a href="cards.html"><i class="fa-solid fa-credit-card"></i></a>
                <a href="#"><i class="fa-solid fa-bell"></i></a>
                <a href="#"
                  ><i @click="logOut" class="fa-solid fa-right-from-bracket"></i
                ></a>
              </div>
            </div>
            <!-- MODAL  -->
            <div
              id="navModalAcc"
              :class="[isActive ? 'modalOpen' : 'modalClose']"
            >
              <button
                type="button"
                class="botonNormal"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Transactions
              </button>
              <div class="opciones" v-if="accounts.length < 3">
                <i class="fa-solid fa-plus"></i>
                <a @click="createAccount" href="#accounts">Add account</a>
              </div>

              <div class="opciones" v-on:click="h">
                <i class="fa-solid fa-sack-dollar"></i>
                <a href="#loans">Loans</a>
              </div>
              <div class="opciones">
                <i class="fa-solid fa-money-check-dollar"></i>
                <a href="cards.html">Cards</a>
              </div>
              <a href="#" class="logOut" @click="logOut"
                ><i class="fa-solid fa-right-from-bracket"></i
                ><span class="logOutMobile">Log out</span></a
              >
            </div>
            <!-- DIV DECORATIVO -->
            <div class="decorative"></div>
            <div class="accounts_container">
              <div class="account_detail" v-for="account of accounts">
                <div style="display: flex; flex-direction: column; gap: 1rem">
                  <h3 style="font-size: 16px">
                    Date: <span>{{account.creationDate.slice(0,7)}}</span>
                  </h3>
                  <h2
                    style="
                      background-color: #00094e;
                      padding: 10px;
                      text-align: center;
                      text-transform: uppercase;
                      letter-spacing: 2px;
                      font-size: 18px;
                    "
                  >
                    Account N°: <span>{{account.number}}</span>
                  </h2>
                </div>
                <div class="dinero_disponible">
                  <h2>Dinero disponible:</h2>
                  <span>${{account.balance}}</span>
                </div>
                <div class="toTransactionsButton">
                  <a :href='"account.html?id=" + account.id'>transactions</a>
                </div>
              </div>
            </div>
            <div class="addAccount" v-if="accounts.length < 3">
              <i class="fa-solid fa-plus" style="color: #1e293b"></i>
              <a
                @click="createAccount"
                href="#accounts"
                style="text-decoration: none; color: #1e293b"
                >Add account</a
              >
            </div>
            <a class="down_arrow_to_loans" href="#loans"
              ><i class="fa-solid fa-chevron-down"></i
            ></a>
          </div>

          <div class="opacityAccounts"></div>
          <img class="deco" src="../Assets/img/digital.png" alt="" />
        </section>
        <!-- 
        <div class="loans" v-if="loans.length > 0">
          <div class="account_container">
            <div class="tarjetas" v-for="loan of loans">
              <div class="LOAN_container">
                <h2>Loan: {{loan.name}} ||</h2>
                <h2>Payments: {{loan.payments}}</h2>
              </div>
              <p class="dinero">Amount: ${{loan.amount}}</p>
              <h4 class="totalLoans">Total Loans: {{loans.length}}</h4>
            </div>
          </div>
        </div> -->

        <section id="loans">
          
          <div class="accounts_nav">
            <h2>Your loans</h2>
            <div class="hamb_accounts">
              <div id="hamburger" class="hamb" v-on:click="h">
                <div class="htopAcc"></div>
                <div class="hmidAcc"></div>
                <div class="hbotAcc"></div>
              </div>
            </div>
            <div class="links_container_accounts">
              <a href="cards.html"><i class="fa-solid fa-credit-card"></i></a>
              <a href="#"><i class="fa-solid fa-bell"></i></a>
              <a href="#"
                ><i @click="logOut" class="fa-solid fa-right-from-bracket"></i
              ></a>
            </div>
          </div>
          <div class="principal_container">
            <div class="loans_container">
              <h2 class="loan_title">Check out your loans details:</h2>
              <div class="loans_detail">
                <div v-for="loan of loans" class="_loan">
                  <h2>Loan {{loan.name}}</h2>
                  <h3>Total of payments: {{loan.payments}}</h3>
                  <h2>Final amount: ${{loan.amount}}</h2>
                  <h3>This is the loan {{loan.id}} of {{loans.length}}</h2>
                </div>
              </div>
              <div class="loans_information">
                <h2>Why choose us?</h2>
                <ul>
                  <li>
                    Do you need a credit card to make that special gift
                    possible?
                  </li>
                  <li>Do you want to get a brand new house?</li>
                  <li>
                    With us your family is safe, we have the best insurance
                    policies
                  </li>
                  <li>
                    Do you need a credit card to make that special gift
                    possible?
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="decorative_loans"></div>
        </section>
      </main>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog modal-lg">
          <div class="modal-content" style="background-color: #00094edb">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="exampleModalLabel"
                style="color: whitesmoke"
              >
                All transactions
              </h5>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr class="table_container">
                    <th class="cell cellMob">Number</th>
                    <th class="cell">Type</th>
                    <th class="cell">Amount</th>
                    <th class="cell">Description</th>
                    <th class="cell">Date</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    class="table_container"
                    v-for="trans of allDateTransactions"
                    v-if="allDateTransactions"
                  >
                    <td class="cell cellMob">{{trans.id}}</td>
                    <td class="cell">{{trans.type}}</td>
                    <td
                      class="cell text-danger fw-bolder"
                      v-if="trans.type =='DEBIT'"
                    >
                      ${{trans.amount}}
                    </td>
                    <td class="cell text-success fw-bolder" v-else>
                      ${{trans.amount}}
                    </td>
                    <td class="cell">{{trans.description}}</td>
                    <td class="cell">{{trans.date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-info"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->

    <footer>
      <div class="redes">
        <a
          href="https://twitter.com/?lang=es"
          style="font-size: 2em; color: whitesmoke"
          target="_blank"
        >
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a
          href="https://www.instagram.com"
          style="font-size: 2em; color: whitesmoke"
          target="_blank"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://www.youtube.com/"
          style="font-size: 2em; color: whitesmoke"
          target="_blank"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
      <div class="derechos">
        <p>© 2023 MindBank Bank - All Rights Reserved.</p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Assets/javascript/accounts.js"></script>
    <script
      src="https://kit.fontawesome.com/a9a67006ad.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
