<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Assets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Cards</title>
  </head>

  <body>
    <div id="app">
      <header>
        <div class="Navbar">
          <div class="client">
            <img class="logo" src="../Assets/img/MindBank.png" alt="logo" />
            <h2>Hi {{clients.firstName}}, these are your cards</h2>
          </div>

          <div class="spans_container">
            <a href="cards.html"><i class="fa-solid fa-credit-card"></i></a>

            <a href="#"><i class="fa-solid fa-bell"></i></a>

            <a href="#"
              ><i @click="logOut" class="fa-solid fa-right-from-bracket"></i
            ></a>
          </div>

          <div id="hamburger" class="hamb" v-on:click="h">
            <div class="htop"></div>
            <div class="hmid"></div>
            <div class="hbot"></div>
          </div>
        </div>
      </header>

      <main>
        <section id="cardsSection">
          <div class="cards_banner">
            <div class="banner_opacity"></div>
          </div>

          <div class="banner_decoration"></div>
          <img class="deco_cards" src="../Assets/img/banking.png" alt="" />

          <div class="cards_principal_container">
            <div class="credit">
             
              <div
                class="credit_container"   
              >
              <div v-for="card of cards"
              v-if="cards.length > 0" >
                <div class="card" v-if="card.cardColor == 'GOLD'">
                  <div class="card__front card__partGold">
                    <img
                      class="card__front-square card__square"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/2560px-Visa_Inc._logo.svg.png"
                    />
                    <img
                      class="card__front-logo card__logo"
                      src="../Assets/img/removeb.png"
                    />
                    <p class="card_numer">{{card.number}}</p>
                    <div class="card__space-75">
                      <span class="card__label">{{card.cardHolder}}</span>
                      <p class="card__info">{{card.cardType}}</p>
                    </div>
                    <div class="card__space-25">
                      <span class="card__label">Expires</span>
                      <p class="card__info">{{parseDate(card.thruDate)}}</p>
                    </div>
                  </div>

                  <div class="card__back card__partGold">
                    <div class="card__black-line"></div>
                    <div class="card__back-content">
                      <div class="card__secret">
                        <p class="card__secret--last">{{card.cvv}}</p>
                      </div>
                      <img
                        class="card__back-square card__square"
                        src="https://static.vecteezy.com/system/resources/previews/011/843/770/original/credit-card-chip-free-vector.jpg"
                      />
                      <img
                        class="card__back-logo card__logo"
                        src="../Assets/img/removeb.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="card" v-if="card.cardColor == 'TITANIUM'">
                  <div class="card__front card__partTitanium">
                    <img
                      class="card__front-square card__square"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/2560px-Visa_Inc._logo.svg.png"
                    />
                    <img
                      class="card__front-logo card__logo"
                      src="../Assets/img/removeb.png"
                    />
                    <p class="card_numer">{{card.number}}</p>
                    <div class="card__space-75">
                      <span class="card__label">{{card.cardHolder}}</span>
                      <p class="card__info">{{card.cardType}}</p>
                    </div>
                    <div class="card__space-25">
                      <span class="card__label">Expires</span>
                      <p class="card__info">{{parseDate(card.thruDate)}}</p>
                    </div>
                  </div>

                  <div class="card__back card__partTitanium">
                    <div class="card__black-line"></div>
                    <div class="card__back-content">
                      <div class="card__secret">
                        <p class="card__secret--last">{{card.cvv}}</p>
                      </div>
                      <img
                        class="card__back-square card__square"
                        src="https://static.vecteezy.com/system/resources/previews/011/843/770/original/credit-card-chip-free-vector.jpg"
                      />
                      <img
                        class="card__back-logo card__logo"
                        src="../Assets/img/removeb.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="card" v-if="card.cardColor == 'SILVER'">
                  <div class="card__front card__partSilver">
                    <img
                      class="card__front-square card__square"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/2560px-Visa_Inc._logo.svg.png"
                    />
                    <img
                      class="card__front-logo card__logo"
                      src="../Assets/img/removeb.png"
                    />
                    <p class="card_numer">{{card.number}}</p>
                    <div class="card__space-75">
                      <span class="card__label">{{card.cardHolder}}</span>
                      <p class="card__info">{{card.cardType}}</p>
                    </div>
                    <div class="card__space-25">
                      <span class="card__label">Expires</span>
                      <p class="card__info">{{parseDate(card.thruDate)}}</p>
                    </div>
                  </div>

                  <div class="card__back card__partSilver">
                    <div class="card__black-line"></div>
                    <div class="card__back-content">
                      <div class="card__secret">
                        <p class="card__secret--last">{{card.cvv}}</p>
                      </div>
                      <img
                        class="card__back-square card__square"
                        src="https://static.vecteezy.com/system/resources/previews/011/843/770/original/credit-card-chip-free-vector.jpg"
                      />
                      <img
                        class="card__back-logo card__logo"
                        src="../Assets/img/removeb.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div v-else=>YOU DON'T HAVE ANY CARDS YET</div>
              </div>
             
            </div>
          </div>

          <div class="info_cards">
            <h2>Benefits of our cards</h2>
            <button
              class="visa_btn"
              style="background-color: rgb(168, 168, 168)"
            >
              VISA SILVER
            </button>
            <button
              class="visa_btn"
              style="background-color: rgb(197, 170, 22)"
            >
              VISA GOLD
            </button>
            <button class="visa_btn" style="background-color: black">
              VISA TITANIUM
            </button>
          </div>
        </section>
      </main>

    </div>

    <footer>
      <div class="redes">
        <span style="font-size: 2em; color: whitesmoke">
          <i class="fa-brands fa-twitter"></i>
        </span>
        <span style="font-size: 2em; color: whitesmoke">
          <i class="fa-brands fa-instagram"></i>
        </span>
        <span style="font-size: 2em; color: whitesmoke">
          <i class="fa-brands fa-youtube"></i>
        </span>
      </div>
      <div class="derechos">
        <p>© 2023 MindBank Bank - All Rights Reserved.</p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Assets/javascript/cards.js"></script>
    <script
      src="https://kit.fontawesome.com/a9a67006ad.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
