<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Assets/loan-aplication.css" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Loan Aplication</title>
  </head>
  <body>
    <div id="app">
      <header>
        <nav class="navbar">
          <div class="logo_name">
            <img src="../Assets/img/removeb.png" alt="" />
            <h2>{{client.firstName}} {{client.lastName}} apply to your Loan</h2>
          </div>
          <div class="links">
            <a href="/accounts.html"
              ><i class="fa-solid fa-user"></i>
              <h5>Your Accounts</h5></a
            >
            <a href="cards.html"
              ><i class="fa-solid fa-credit-card"></i>
              <h5>Your Cards</h5></a
            >
            <a href="#"
              ><i @click="logOut" class="fa-solid fa-right-from-bracket"></i>
              <h5>Log Out</h5></a
            >
            <a href="#"></a>
          </div>
          <div class="hamburger" @click="hamb">
            <div id="hTop"></div>
            <div id="hMid"></div>
            <div id="hBot"></div>
          </div>
        </nav>
      </header>

<main>
      <div class="container_info">
        <h2 style="letter-spacing: 2px; margin-left: 1rem;" class="info__title">
         APPLY FOR A LOAN
         {{iva}}
        </h2>
        <form @submit.prevent>
          <h2>Type of Loan</h2>
          <select class="form-select" v-model="loans_id">

            <option :value="loan.id" v-for="loan of loans">{{loan.id}} {{loan.name}}</option>
          </select>
          <h2>Number of payments</h2>
          <select class="form-select" v-if="loans_id" v-model="payments">
            <option :value="number" v-for="number of filterLoans()">{{number}}</option>
          </select>
          <h2>Loan amount</h2>
          <input style="width: 50%; height: 2rem;" type="text" v-model="amount">
                      <fieldset v-if="loans">
                        <h3>Summary</h3>
                        <h5>Loan amount: {{amount* iva}}</h5>
                        <div v-for="loan of loans">
                          <p v-if="loans_id == loan.id" v-show='amount != 0'>Pagaras {{payments}} cuotas de {{(amount * loan.iva / payments).toLocaleString('de-DE', { style: 'currency', currency:'USD' })}}
                          </p>
                        </div>
                        <!-- <h5>Total amount to be paid back: {{amount(loans[loans_id].interest+ 1)}}</h5>  -->
                      </fieldset>
                      <label>Account number to deposit</label>
                      <select v-model="account_destinated">
                        <option :value="account.number" v-for="account of accounts">{{account.number}}</option>
                      </select>
          <a href="#" @click="applyLoan"class="info__button">Send</a>
          <p class="back"><a href="/web/accounts.html">Back home</a></p>
        </form>
      </div>
    </div>
    </main>
    <div class="opacity"></div>
      <footer>

      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Assets/javascript/loans-aplication.js"></script>
    <script
      src="https://kit.fontawesome.com/a9a67006ad.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
