<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      href="../assets/img/logoicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../assets/transfers.css" />

    <title>Transfer</title>
  </head>
  <body id="app" class="bodyCreationCard">
    <main>
      <!-- CREATION CARD -->
      <div class="creationCardForm" @submit.prevent="loadData">
        <h2>Make your transfer:</h2>
        <form class="my-form">
          <div class="container">
            <ul class="ulCreationCard">
              <li>
                <select v-model="transferOption" name="transferOption">
                  <option value="">Choose your account</option>
                  <option value="CuentasPropias">OWN ACCOUNT</option>
                  <option value="Terceros">THIRD PARTIES</option>
                </select>
              </li>
              <div v-if="transferOption == 'CuentasPropias'" class="accountOptions">
                <select v-model="numberEmission">
                  <option value="">From "account"</option>
                  <option v-for="account of accounts" :value="account.number">
                    {{account.number}}
                  </option>
                </select>
                <select v-model="numberReceptor">
                  <option value="">To "account"</option>
                  <option v-for="account of accounts" :value="account.number">
                    {{account.number}}
                  </option>
                </select>
              </div>
              <div v-if="transferOption == 'Terceros'">
                <select v-model="numberEmission">
                  <option value="">From "account"</option>
                  <option v-for="account of accounts" :value="account.number">
                    {{account.number}}
                  </option>
                </select>
                <div class="grid grid-2">
                  <input
                    v-model="numberReceptor"
                    placeholder="Destination account"
                  />
                </div>
              </div>
              <li class="transferInput">
                <input v-model="amount" placeholder="Transfer Amount" type="number" />
              </li>
              <li>
                <textarea
                  v-model="description"
                  placeholder="Description"
                ></textarea>
              </li>

              <li>
                <div class="submit_reset">              
                  <button
                    @click="transferencias"
                    class="btn-grid"
                    type="submit"
                  >  
                    <span class="front">SUBMIT</span>
                  </button>
                  <button class="btn-grid" type="reset">
                    <span class="front">RESET</span>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <!-- CREATION CARD -->
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../assets/javascript/transfers.js"></script>
  </body>
</html>

