html {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  background-image: url(./img/pexels-roberto-nickson-2478248.jpg);
  background-size: cover;
  margin: 0;
}

.main_container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.info_container{
  width: 50% ;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.385);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.subInfo_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  background-color: rgba(245, 245, 245, 0.133);
  backdrop-filter: blur(2px);
  padding: 1rem;
  color: whitesmoke ;
}

.subInfo_container h2 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.article{
  display: flex;
  width: 85%;
  justify-content: space-between;
  gap: 1rem;
  text-align: left;
}

.container * {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.container {
  width: 800px;
  max-width: 100%;
  min-width: 500px;
  overflow: hidden;
  min-height: 450px;
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 0 auto;
}

.container input[id="check-panel-active"] {
  display: none;
}

/************************************************/
/*                                              */
/*                 FORMULAIRE                   */
/*                                              */
/************************************************/

.form-container {
  top: 0;
  height: 100%;
  position: absolute;
  transition: all 0.6s ease-in-out;
}

.connect-container {
  left: 0;
  width: 50%;
  z-index: 2;
  min-width: 250px;
}

.container input#check-panel-active:checked ~ .connect-container {
  transform: translateX(100%);
}

.edit-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  min-width: 250px;
}

.container input#check-panel-active:checked ~ .edit-container {
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
  transform: translateX(100%);
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.container form {
  height: 100%;
  display: flex;
  padding: 0 50px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.container form h1 {
  margin: 0;
  color: black;
}

.container form .remember-container {
  color: black;
  margin-top: 10px;
}

.container form button {
  margin-top: 20px;
}

/************************************************/
/*                                              */
/*                 RADIO ACCOUNT                */
/*                                              */
/************************************************/

.account-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.account-container .toggle-checkbox {
  width: 100%;
  flex: 1 0 45%;
  padding: 5px 5px;
}

.account-container .toggle-checkbox input {
  display: none;
}

.account-container .toggle-checkbox label {
  width: 100%;
  color: #74b8ff;
  padding: 5px 10px;
  line-height: 20px;
  padding-left: 30px;
  position: relative;
  border-radius: 20px;
  display: inline-flex;
  background: #ffffff;
  border: 1px solid #74b8ff;
}

.account-container .toggle-checkbox input:checked ~ label {
  color: #ffffff;
  background: #74b8ff;
}

.account-container .toggle-checkbox label:hover {
  cursor: pointer;
}

.account-container .toggle-checkbox label::before {
  content: " ";
  top: 7px;
  left: 7px;
  width: 15px;
  height: 15px;
  padding: 2px;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #74b8ff;
}

.account-container .toggle-checkbox input:checked ~ label::before {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  background-clip: content-box;
}

/************************************************/
/*                                              */
/*                  OVERLAY                     */
/*                                              */
/************************************************/

.overlay-container {
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  position: absolute;
  transition: transform 0.6s ease-in-out;
}

.container input#check-panel-active:checked ~ .overlay-container {
  transform: translateX(-100%);
}

.overlay-container .overlay {
  left: -100%;
  width: 200%;
  height: 100%;
  color: #ffffff;
  position: relative;
  background-image: url("./img/imgform.jpg");
  background-size: cover;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container input#check-panel-active:checked ~ .overlay-container .overlay {
  transform: translateX(50%);
}

.overlay-container .overlay .overlay-panel {
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  padding: 0 40px;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  box-shadow: 4px 4px 18px 4px black;
}

.overlay-container .overlay .overlay-panel h1 {
  margin: 0;
  text-shadow: 4px 4px 4px black;
  letter-spacing: 2px;
}

.overlay-container .overlay .overlay-panel p{
  text-shadow: 4px 4px px black;
}

/************************************************/
/*                                              */
/*               OVERLAY ANIMATION              */
/*                                              */
/************************************************/

.overlay-left {
  transform: translateX(-20%);
  background-image: url("./img/imgform.jpg");
  background-size: cover;
}

.container input#check-panel-active:checked ~ .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container input#check-panel-active:checked ~ .overlay-right {
  transform: translateX(20%);
}

/************************************************/
/*                                              */
/*                  INPUT                       */
/*                                              */
/************************************************/

.input-text-form {
  width: 100%;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 10px 0px;
  padding: 10px 0px;
  background: transparent;
  border-bottom: 1px solid #999999;
}

.input-text-form.error-form {
  color: red;
  border-bottom: 1px solid red;
}

.input-text-form.error-form::placeholder {
  color: red;
}

/************************************************/
/*                                              */
/*                  BUTTON                      */
/*                                              */
/************************************************/

button,
.overlay-container .overlay .overlay-panel label {
  cursor: pointer;
  font-size: 11px;
  border: 2px solid;
  background-color: black;
  text-align: center;
  padding: 12px 45px;
  letter-spacing: 1px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  background-image: none;
  text-transform: uppercase;
  transition: all ease .3s;
}

button:active,
.overlay-container .overlay .overlay-panel label:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.overlay-container .overlay .overlay-panel label:hover {
  background-color:rgb(0 75 109);
  border-color: whitesmoke;
  color:whitesmoke;
}

.primary {
  color: whitesmoke;
  background-color: black;
  border-color: whitesmoke;
}

.primary:hover {
  color: whitesmoke;
  background-color:rgb(0 75 109);
  border-color:whitesmoke;
}
