body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: url("../Assets/img/wwang_040522_102.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  width: 100%;
}

.creationCardForm{
    background-color: rgba(0, 0, 0, 0.553);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    gap: 1rem;
    color: white;
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
    padding: 5rem;
    border-radius: 10px;
    backdrop-filter: blur(8px);
}

.container {
  width: 100%;
  align-items: center;

  padding: 0;
}

.ulCreationCard {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.ulCreationCard textarea, select, li {
    width: 100%;
    margin:0;
    
}

.my-form {
    border-radius: 10px;
  background-color: #00ffff7d;
  backdrop-filter: blur(20px);
  padding: 1rem;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

.transferInput input{
    width: 100%;
}

.accountOptions{

    width: 90%;
    top: 4vh;
}

.submit_reset{
    display: flex;
    justify-content: space-evenly;
}

.btn-grid{
    background-color: blue;
    color: wheat;
    border: blue;
    padding: 6px;
    width: 25%;
    border-radius: 10px;
    transition: all .4s;
}

.btn-grid:hover{
    background-color: white;
    color: blue;
}
/* ------- CREATE CARD ------- */
